/* cities */

.cities {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.cities__header {
  background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 60%);
  border-bottom: 1px solid #fff;
}

/* cityInfo */

.cityInfo {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.cityInfo__header {
  background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 60%);
  border-bottom: 1px solid #fff;
}

.cityInfo__body__image {
  background: url("../../assets/images/info.webp");

  background-size: cover;
}

/* modal */
.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  margin: 0 auto;
  background-color: #fff;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
